<div class="page-header">
	<h1>All users</h1>
</div>
<div class="table-responsive">
	<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Score</th>
					<th></th>
				</tr>
				<thead>
				<tbody>
					{{#each users}}
					<tr>
						<td>{{@index}}</td>
						<td>{{name}}</td>
						<td>{{score}}</td>
						<td>
							<a class="btn btn-default" href="/users/{{_id}}" role="submit">Stats</a>
						</td>
					</tr>
					{{/each}}
			</tbody>
	</table>
</div>
